@page "/vehiculos"
@using Vehiculos_2019_0087.Data

<div class="container">
    <h3 class="font-weight-bold">Registro de Vehiculos</h3><br>

<EditForm  Model="@vehiculos">

    <div class="form-group">
    <label for="Marca">Marca</label>
    <input type="text" class="form-control" id="Marca" @bind-value="vehiculos.Marca" placeholder="Ingrese la Marca" required>
    </div>
    
    <div class="form-group">
    <label for="Modelo">Modelo</label>
    <input type="text" class="form-control" id="Modelo" @bind-value="vehiculos.Modelo" placeholder="Ingrese el Modelo" required>
    </div>

     <div class="form-group">
    <label for="Anio">Año</label>
    <input type="text" class="form-control" id="Anio" @bind-value="vehiculos.Anio" placeholder="Ingrese el año de vehiculo" required>
    </div>

     <div class="form-group">
    <label for="Color">Color</label>
    <input type="text" class="form-control" id="Color" @bind-value="vehiculos.Color" placeholder="Ingrese su color de Preferencia" required>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="registrarVehiculos" style="width: 170; margin: 20px 10px">Registrar</button>
    <button class="btn-danger" @onclick="limpiarCampos" style="width: 150px; margin: 2opx 10px">Limpiar
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg>
    </button>

</EditForm>
</div>

@code
{
Vehiculos vehiculos = new Vehiculos();

void registrarVehiculos()
{

}

void limpiarCampos()
{
    vehiculos.Marca= "";
    vehiculos.Modelo= "";
    vehiculos.Anio= "";
    vehiculos.Color= "";
}

}

