@page "/vehiculos"


<PageTitle>REGISTRO DE VEHICULOS</PageTitle>

<h1>Vehiculos</h1>

   <label for="Marca">Marca</label>
   <input type="text" name="Marca" id="Marca" placeholder="Marca de Vehiculo">

	<label for="Modelo">Modelo</label>
	<input type="text" name="Modelo" id="Modelo" placeholder="Modelo de Vehiculo"/>

	<label for="Año">Año</label>
	<input type="Año" name="Año" id="Año" placeholder="Año del vehiculo" required />

	<label for="Color">Color</label>
	<input type ="Color" name="Color" id="Color" placeholder="indique el Color"/>







